<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MasterConnectionString" value="Data Source=WIN-3AHR7ERVN41\NI;Initial Catalog=master;Integrated Security=True"/>
    <add key="PathToScripts" value="G:\Development\KidZonePortal\KidZonePortalAccountWCF\src\database_scripts"/>
    <add key="DatabaseConnectionString" value="Data Source=WIN-3AHR7ERVN41\NI;Initial Catalog=KidZonePortal;Integrated Security=True"/>
  </appSettings>
       
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
